body {
  font-family: 'Open Sans', serif;
  color: #201b2d;
  font-size: 15px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: #4EBEFE;
  background: -webkit-linear-gradient(to bottom right, #4EBEFE 0%, #378FD9 100%);
  background: -moz-linear-gradient(to bottom right, #4EBEFE 0%, #378FD9 100%);
  background: linear-gradient(to bottom right, #4EBEFE 0%, #378FD9 100%);
  padding-top: 100px;
  padding-bottom: 215px;
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 480px;
  font-size: 37px;
  line-height: 1.6em;
  padding-top: 166px;
  padding-bottom: 40px;
}

.title span {
  font-weight: 700;
  font-size: 68px;
}

.intro {
  width: 420px;
  padding-bottom: 40px;
}

.btn {
  display: block;
  width: 220px;
  padding: 20px 25px;
  border-radius: 2px;
  color: #000;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  background: #ffd429;
  transition: all .5s ease;
}

.btn:hover {
  background-color: #b99a1e;
}

/* learn */
.learn {
  padding-top: 100px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 55px;
}

.learn-title {
  padding-bottom: 120px;
}

.rest-box {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}

.rest {
  width: 305px;
  padding-top: 70px;
}

.clock {
  background: url('../img/clock.jpg') no-repeat 50% 0;
}

.tree {
  background: url('../img/tree.jpg') no-repeat 50% 0;
}

.price {
  background: url('../img/price.jpg') no-repeat 50% 0;
}

.head-title,
.rest-main-text {
  text-align: center;
}

/* form */
.mail {
  display: block;
  padding-top: 95px;
  padding-bottom: 102px;
  margin: 0 auto;
  background-color: #ecf3f8;
}

.input, .textarea, .btn-form {
  display: block;
  margin: 0 auto;
}

.input,
.textarea {
  width: 217px;
  margin-bottom: 15px;
}

/* footer */
.footer {
  padding: 33px 0;
  background: #164d7a;
}

.credits {
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 10px auto;
}


/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
  p {
    margin: auto;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.bag {
		display: block;
	  width: 549px;
	  margin: 72px auto 0;
	}
	.rest-box {
		flex-direction: column;
	}
	.rest {
    margin: auto;
		margin-bottom: 30px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.bag {
		width: 100%;
	}
	.input,
  .textarea {
		width: 100%;
	}
	.btn {
		margin-left: 0;
	  margin-top: 15px;
	  width: 100%;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}